@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #4d41c0;
  --bg-gray: #e8e8e8;
  --text-gray: #4a4a4a;
  --white: #fff;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: var(--bg-gray);
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

/* Header */

header {
    background-color: var(--color-primary);
    color: #FFF;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Main */
#dsmovie-card-list{
    padding: 40px 0;
}
.dsmovie-card{
    width: 100%;
}

.dsmovie-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.dsmovie-card-description {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 20px 20px;
    border-radius: 0 0 8px 8px;
    min-height: 150px;
}
.dsmovie-card-description h3 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 25px;
    text-align: center;
}

.dsmovie-btn, .dsmovie-btn:hover {
    height: 40px;
    width: 180px;
    background-color: var(--color-primary);
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}